* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

#box {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin: 100px;
    border-radius: 50%;
     background-color: rgb(243, 243, 236); 

}

button {

    padding: 10px 28px;
    font-size: 20px;
    margin: 0 230px;

}
